<footer class="border-t">
  <div class="my-4 container px-8 sm:px-0">
    <p class="text-sm">
      The source code is available on{" "}
      <a
        class="underline hover:no-underline"
        href="https://github.com/Angelfire/es-festivo"
        target="_blank"
        rel="noreferrer"
      >
        Github
      </Link>
    </p>
  </div>
</footer>